* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

nav {
    height: 100px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section {
    padding: 20px;
}

.hero{
    display: flex;
    flex-direction: column;
}

.hero-img {
    max-width: 400px;
    align-self: center;
}

.hero-header {
    margin-bottom: 16px;
}

.hero-text {
    margin-top: 0px;
}