* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #F5F5F5;
    height: 100%;
    max-width: 100%;
    border-radius: 5px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}

.die-face {
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.die-num {
    font-size: 2rem;
}